# Dependency directories
node_modules/
jspm_packages/
web_modules/
.pnpm-store/

# Next.js build output
.next/
out/

# Turborepo cache
.turbo/

# Production builds
build/
dist/

# Python / Poetry
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
.poetry/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints
.alembic/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
*.sublime-project
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
